---
services:
  backrest:
    container_name: backrest
    environment:
      BACKREST_CONFIG: /config/config.json
      BACKREST_DATA: /data
      TMPDIR: /tmp
      TZ: Europe/London
      XDG_CACHE_HOME: /cache
    image: garethgeorge/backrest:v1.10.1 # https://github.com/garethgeorge/backrest/releases
    ports:
      - 9898:9898/tcp
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /srv:/srv:ro
      - /srv/services/backrest/cache:/cache:rw
      - /srv/services/backrest/config:/config:rw
      - /srv/services/backrest/data:/data:rw
      - /srv/services/backrest/ssh:/root/.ssh:ro
      - /srv/services/backrest/tmp:/tmp:rw
  dockhand:
    container_name: dockhand
    image: fnsys/dockhand:v1.0.11 # https://hub.docker.com/r/fnsys/dockhand/tags
    ports:
      - 4000:3000/tcp
    restart: always
    volumes:
      - /srv/services/dockhand:/app/data:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro
  dufs:
    command: --allow-all /data
    container_name: dufs
    image: sigoden/dufs:v0.45.0 # https://hub.docker.com/r/sigoden/dufs/tags
    ports:
      - 5000:5000/tcp
    restart: always
    volumes:
      - /srv/services/dufs:/data:rw
  home-assistant:
    cap_add:
      - NET_ADMIN
      - NET_RAW
    container_name: home-assistant
    devices:
      - /dev/ttyACM0
    environment:
      TZ: Europe/London
    image: ghcr.io/home-assistant/home-assistant:2025.12.5 # https://github.com/home-assistant/core/pkgs/container/home-assistant
    network_mode: host
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
      - /srv/services/home-assistant:/config:rw
  netbootxyz:
    container_name: netbootxyz
    image: ghcr.io/netbootxyz/netbootxyz:0.7.6-nbxyz10 # https://github.com/netbootxyz/docker-netbootxyz/pkgs/container/netbootxyz
    ports:
      - 69:69/udp
      - 3000:3000/tcp
      - 3001:80/tcp
    restart: always
    volumes:
      - /srv/services/netbootxyz/assets:/assets:rw
      - /srv/services/netbootxyz/config:/config:rw
  whoami:
    cap_add:
      - NET_BIND_SERVICE
    container_name: whoami
    image: traefik/whoami:v1.11.0 # https://hub.docker.com/r/traefik/whoami/tags
    ports:
      - 80:80/tcp
    restart: always
version: "3.8"
